[Unit]
Description=NetAlertX - Network, presence scanner and alert framework
ConditionPathExists=/app/server

[Service]
EnvironmentFile=/app/.env
WorkingDirectory=/opt/netalertx-python/bin
ExecStart=/opt/netalertx-python/bin/python3 /app/server
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
