[Unit]
Description=NetAlertX - Network, presence scanner and alert framework
ConditionPathExists=/app/server

[Service]
EnvironmentFile=/app/.env
WorkingDirectory=/app/server
ExecStart=/opt/netalertx-python/bin/python /app/server
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
