.dockerignore
.env
.git
.github
.gitignore
docker-compose.yml
Dockerfile
dockerfiles/LICENSE
dockerfiles/README.md
dockerfiles/user-mapping.sh
docs
install/pialert_install.sh
install/pialert_install_no_webserver.sh
install/pialert_patch_DB.sh
install/pialert_uninstall.sh
install/pialert_update.sh
LICENSE.txt
README.md
tar
