.vscode
.DS_Store
config/*
config/pialert.conf
db/*
db/pialert.db
front/log/*
front/api/*
**/plugins/**/*.log
**/%40eaDir/
**/@eaDir/

__pycache__/
*.py[cod]
*$py.class

**/last_result.log
**/script.log
**/pialert.conf_bak
**/pialert.db_bak