.vscode
.dotnet
.vscode-server
.gitconfig
.*CommandMarker
deviceid
.VERSION

# Sensitive data
.cache
nohup.out
config/*
.ash_history
config/pialert.conf
config/app.conf
db/*
db/pialert.db
db/app.db
front/log/*
/log/*
/log/plugins/*
front/api/*
/api/*
**/plugins/**/*.log
**/plugins/cloud_services/*
**/last_result.log
**/script.log
**/pialert.conf_bak
**/pialert.db_bak

# future stuff
front/img/cloud_services/*
**/cloud_services.php
**/cloud_services.js
front/css/cloud_services.css

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini
**/%40eaDir/
**/@eaDir/
*/%40eaDir/
*/@eaDir/
.DS_Store
.*.swp

# Python junk
venv/
.env/
__pycache__/
*.py[cod]
*$py.class

# Build artifacts (if you ever package anything)
dist/
build/