.vscode
.dotnet
.vscode-server
.gitconfig
\.*CommandMarker
deviceid
.DS_Store
.cache
config/*
.ash_history
.VERSION
config/pialert.conf
config/app.conf
db/*
db/pialert.db
db/app.db
front/log/*
/log/*
/log/plugins/*
front/api/*
/api/*
**/plugins/**/*.log
**/plugins/cloud_services/*
**/%40eaDir/
**/@eaDir/

__pycache__/
*.py[cod]
*$py.class

**/last_result.log
**/script.log
**/pialert.conf_bak
**/pialert.db_bak
.*.swp

front/img/cloud_services/*
**/cloud_services.php
**/cloud_services.js
front/css/cloud_services.css

docker-compose.yml.ffsb42
.env.omada.ffsb42
