openwrt-luci-rpc
asusrouter
aiohttp
graphene
flask
flask-cors
unifi-sm-api
tplink-omada-client
wakeonlan
pycryptodome
requests
paho-mqtt
scapy
cron-converter
pytz
json2table
dhcp-leases
pyunifi
chardet
python-nmap
dnspython
librouteros
yattag
zeroconf 
git+https://github.com/foreign-sub/aiofreepybox.git
